.textArea::placeholder {
color:white;
}

.borderAdd {
  border: 2px solid rgb(202, 30, 30);
}

.borderRemove {
  border: none
}

.darkModeColors {

display: flex;
justify-content: center;

}

.option1 {
  background-color: #89375F;
  width:25px;
  height:25px;
  margin: 0 2px;
}
.option2 {
  background-color: #0B2447;
  width: 25px;
  height: 25px;
  margin: 0 2px;
}
.option3 {
  background-color: #edcdb7;
  width: 25px;
  height: 25px;
  margin: 0 2px;
}
.option4 {
  background-color: #aed9ea;
  width: 25px;
  height: 25px;
  margin: 0 2px;
}
.option5 {
  background-color: white;
  width: 25px;
  height: 25px;
  margin: 0 2px;
}
